body {
  padding:50px;
  font:14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#777;
  font-weight: 400;
  background-color: #F5EDE3;
  height:100%;
}

.middle{
  width:880px;
  margin: 0 auto;
}

.left{
  width: 250px;
  background-color: rgba(283,98,24,.9);
  float: left;
  padding: 50px 10px 0px 10px;
  height:100%;
  bottom: 0;
  position: fixed;
  top: 0;
}

.right{
  width: 600px;
  float:right
}

header {
  width:270px;
  float:left;
  position:fixed;
}