body {
  padding:50px;
  font:14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#777;
  font-weight: 400;
  height:100%;
}

.middle{
  width:860px;
  margin: 0 auto;
}

.left{
  width: 250px;
  background-color: forestgreen;
  float: left;
  height:100%;
}

.right{
  width: 600px;
  background-color: limegreen;
  float:right
}

header {
  width:270px;
  float:left;
  position:fixed;
}